.fedmed-metrics-grid {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  align-items: center;
}

@media (max-width: 1024px) {
  .fedmed-metrics-grid {
    flex-wrap: wrap;
    height: auto;
    padding: var(--sp-2) 0;
  }
}
